/* Mobile */
#a {
  background-color: blue;
}
#b {
  background-color: yellow;
}
#c {
  background-color:cyan;
}

#d {
  background-color:red;
}

#e {
  background-color: coral;
}

#f {
  background-color: chartreuse;
}

#g {
  background-color: brown;
}

#h {
  background-color: seagreen;
}

#i {
  background-color: goldenrod;
}

body {
  grid-template-columns: 240px 240px;
  grid-template-rows: auto;
  grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e f"
    "g h"
    "i i";
}

/* Tablet */
@media (min-width: 636px) {
  #a {
    background-color: rgb(255, 255, 64);
  }

  #b {
    background-color: rgb(223, 223, 75);
  }

  #c {
    background-color:rgb(212, 212, 11);
  }
  
  #d {
    background-color:rgb(214, 255, 64);
  }

  #e {
    background-color: rgb(200, 255, 0);
  }

  #f {
    background-color: chartreuse;
  }

  #g {
    background-color: rgb(115, 255, 50);
  }
  
  #h {
    background-color: rgb(60, 211, 0);
  }
  
  #i {
    background-color: rgb(32, 192, 0);
  }

  body {
    grid-template-columns: 212px 212px 212px;
    grid-template-rows: auto;
    grid-template-areas: 
      "a a a"
      "b b b"
      "c d e"
      "f g h"
      "i i i";
  }
}

/* Desktop */
@media (min-width: 840px) {
  #a {
    background-color: gold;
  }

  #b {
    background-color: green;
  }
  #c {
    background-color: rebeccapurple;
  }
  
  #d {
    background-color: magenta;
  }
  
  #e {
    background-color: darkblue;
  }
  
  #f {
    background-color: aquamarine;
  }
  
  #g {
    background-color: greenyellow;
  }
  
  #h {
    background-color: pink;
  }
  
  #i {
    background-color: sienna;
  }

  body {
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: auto;
    grid-template-areas: 
      "a a a a a"
      "b c c d d"
      "b e f g h"
      "b i i i i";
  }
}